body {
    background-image: url(imagenes/556562.jpg);
    background-size: cover;
    background-position: center;
}
#superior {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: center;
}
#avatarAang {
    border: 1px ;
}
#avatarAang img{
    width: 250px;
    margin-top: 100px;
}
#zukoLord{
    border: 1px ;
}
#zukoLord img{
    width: 300px;
    margin-top: 100px;
}

.caracter{
    margin: 40px;
}
#botonPrincipal{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.eslogan{
    background-color: bisque;
}
.estadisticas{
    width: 206px;
    border: 1px solid;
    border-color: aliceblue;
    
}
.vida{
    font: 18pt arial;
    font-weight: bold;
    color: azure;
}
.hpVida{
    width: 200px;
    height: 30px;
    border: 3px solid;
    border-color: black;
}
.hpBar{
    width: 200px;
    height: 30px;
    background-color: green;
}

