body{
    background: url(imagenes/556562.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#principal{
    display: flex;
    flex-direction: column;
}

.jugadores{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7em;
    width: 80%;
    height: 45%;
    margin-left: 10em;
}

.seleccionaJugador{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 40%;

}

.seleccionaJugadorTexto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 55px;
    margin-top: 2em;
    color: rgb(204, 243, 166);

    
}

.batalla{
    width: 15em;
    height: 25em;
    
}

.batalla img{
    width: 50%;
    height: 50%;
    
}


@font-face {
   font-family: 'Courier New', Courier, monospace;
  }

p{
    font-family: get_schwifty;
    font-size: 25px;
    color: rgb(193, 240, 25);
}

.vsJugador{
    position: absolute;
    top: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}
#p1vs img{
    width: 7em;
    height: 15em;
}

#p2vs img{
    width: 7em;
    height: 15em;
}

.vsTextoDiv{
    display: flex;
    flex-direction: column;
}

.vsTexto{
    font-family: get_schwifty;
    font-size: 60px;
    color: #69C8ecff;
    margin-left: 2em;
    margin-right: 2em;
}

.botonEmpezar{
    display: flex;
    margin-bottom: 2em;
    padding: 7px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69C8ecff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.botonEmpezar:hover {background-color: #b7e4f9}
  
.botonEmpezar:active {
    background-color:#69C8ecff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#pantallaBatalla{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0%;

}

.peleaP1Boton{
    display: flex;
    margin-bottom: 2em;
    padding: 7px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69C8ecff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 5em;
}
  
.peleaP1Boton:hover {background-color: #b7e4f9}
  
.peleaP1Botonactive {
    background-color:red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
.versus{
    font-family: get_schwifty;
    font-size: 60px;
    color: #69C8ecff;
    margin-left: 2em;
    margin-right: 2em;
}

.peleaP2Boton{
    display: flex;
    margin-bottom: 2em;
    padding: 7px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69C8ecff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 5em;
  }
  
.peleaP2Boton:hover {background-color: #b7e4f9}
  
.peleaP2Boton:active {
    background-color:red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#vidaP1{
    margin-top: 2em;
    margin-left: 8em;
}

#vidaP2{
    margin-top: 2em;
    margin-left: 8em;
}

#imagenP1 img{
    width: 25em;
    height: 30em;
    margin-top: 4em;
    margin-bottom: 4em;
}

#imagenP2 img{
    width: 25em;
    height: 30em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.peleaP1Boton{
    margin-left: 5em;
}

.peleaP1Boton{
    margin-left: 5em;
}

#elGanadorEs{

    margin-top: -10% ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 60px;
}


